/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

img {
     height: 200px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/


.carousel{
     width: 400px;     
     height: 221px;
     background-position: center;
     background-size: cover;
     background-image : url(robot_l.jpg)
}

.fade{     
     -webkit-animation: 1.5s fade;
     animation: 1.5s fade;
}

@-webkit-keyframes fade{
     from{opacity: 0.4}
     to{opacity: 1}
}

@keyframes fade{
     from{opacity: 0.4}
     to{opacity: 1}
}
     
